.collapsible {
 background-color: #568BB3;
 color: white;
 cursor: pointer;
 padding: 18px;
 width: 100%;
 border: none;
 text-align: left;
 outline: none;
 font-size: 15px;
}

.active,
.collapsible:hover {
 background-color: teal;
}

.content {
 padding: 0 18px;
 display: none;
 overflow: hidden;
 background-color: #f1f1f1;
}

.box {
 color: green;
 border-left: 6px solid teal;
 padding-left: 1rem;
}

.ur {
 color: brown;
}

/* urdu_pronouns.html styles */
#urdu-pronouns{
 font-size: minmax(1vw,1.5vw);
}
th {
  background-color: #568bb3;
  color: whitesmoke;
}
.h-cell{
 background-color: teal;
 color:white;
}
td {
 border: 1px solid silver;
 direction: rtl;
}
.empty{
 border:none;
 background-color: white;
}
em{
 color:brown;
}