.card-wrapper{
 display: grid;
 grid-template-columns: 1fr;
 row-gap: 2rem;
 column-gap: 2rem;
}
img{
 width: 100%;
}

span.badge{
 margin-right: 0.5rem;
}

.larger{
 font-size: 1.2rem;
}

@media screen and (width> 400px) {
 .card-wrapper{
  grid-template-columns: 1fr 1fr;
 }
}
@media screen and (width> 700px) {
 .card-wrapper{
  grid-template-columns: 1fr 1fr 1fr;
 }
}
@media screen and (width> 1000px) {
 .card-wrapper{
  grid-template-columns: 1fr 1fr 1fr 1fr;
 }
 
}